@use 'sass:string';

@function get-font-file-name($str) {
  @while (string.index($str, ' ') != null) {
    $index: string.index($str, ' ');
    $str: '#{str-slice($str, 0, $index - 1)}-#{str-slice($str, $index + 1)}';
  }

  @return unquote(to-lower-case($str));
}

@each $ff-name, $weights in $fonts {
  $file-name: get-font-file-name($ff-name);

  @each $weight-name, $weight in $weights {
    @font-face {
      font-family: $ff-name;
      font-style: normal;
      font-display: swap;
      font-weight: $weight;
      src: local(''),
           url('../fonts/#{$file-name}-#{$weight-name}.woff2') format('woff2'),
           url('../fonts/#{$file-name}-#{$weight-name}.woff') format('woff');
    }
  }
}
