@import 'functions';

$ff-head: 'Titillium Web';
$ff-body: 'Mukta';

$fw-extralight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;

$fonts: (
  #{$ff-head}: (
    extralight: $fw-extralight,
    light: $fw-light,
    regular: $fw-regular,
    semibold: $fw-semibold,
    bold: $fw-bold,
    black: $fw-black,
  ),
  #{$ff-body}: (
    extralight: $fw-extralight,
    light: $fw-light,
    regular: $fw-regular,
    medium: $fw-medium,
    semibold: $fw-semibold,
    extrabold: $fw-extrabold,
    bold: $fw-bold,
  ),
);

$fs-scale-min-width: 640;
$fs-scale-max-width: 1280;
$fs-base-in-px: 16px;

$fs-xs-min: rem(14px);
$fs-xs-max: rem(16px);
$lh-xs-min: rem(22px);
$lh-xs-max: rem(24px);

$fs-sm-min: rem(16px);
$fs-sm-max: rem(18px);
$lh-sm-min: rem(24px);
$lh-sm-max: rem(26px);

$fs-md-min: rem(18px);
$fs-md-max: rem(20px);
$lh-md-min: rem(26px);
$lh-md-max: rem(30px);

$fs-lg-min: rem(22px);
$fs-lg-max: rem(24px);
$lh-lg-min: rem(30px);
$lh-lg-max: rem(32px);

$fs-xl-min: rem(26px);
$fs-xl-max: rem(32px);
$lh-xl-min: rem(38px);
$lh-xl-max: rem(46px);

$fs-2xl-min: rem(30px);
$fs-2xl-max: rem(38px);
$lh-2xl-min: rem(40px);
$lh-2xl-max: rem(48px);

$fs-3xl-min: rem(38px);
$fs-3xl-max: rem(46px);
$lh-3xl-min: rem(46px);
$lh-3xl-max: rem(56px);
