@import 'tailwind';
@import 'functions';
@import 'scss-variables';
@import 'fonts';
@import 'typography';

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

html {
  font-size: $fs-base-in-px;
}

body {
  text-rendering: geometricPrecision;
}

.flow > * + * {
  margin-top: var(--flow-space);
}
